thinkcentre.home {
	tls internal

	respond "Hello from thinkcentre.home" 200
}

*.thinkcentre.home {
	tls internal

	@searxng host search.thinkcentre.home
	handle @searxng {
		reverse_proxy searxng:8080
	}

	@pihole host pihole.thinkcentre.home
	handle @pihole {
		redir / /admin
		reverse_proxy pihole:80
	}

	@servarr host servarr.thinkcentre.home
	handle @servarr {
		redir /autobrr /autobrr/
		redir /prowlarr /prowlarr/

		handle_path /autobrr/* {
			uri strip_prefix /autobrr
			reverse_proxy autobrr:7474
		}

		reverse_proxy /prowlarr/* prowlarr:9696
	}

	@torrent host torrent.thinkcentre.home
	handle @torrent {
		reverse_proxy qbittorrent:8081
	}

	@manga host manga.thinkcentre.home
	handle @manga {
		reverse_proxy suwayomi:4567
	}
}
